<ion-header>
  <ion-toolbar class="fondo1">
    <br />
    <div class="ion-text-center">
      <ion-title class="color1">chateau magnifique</ion-title>
    </div>
    <div class="ion-text-end">
      <ion-button
        color="danger"
        size="small"
        shape="round"
        (click)=" this.signOut();"
      >
        Cerrar sesión
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo2">
  <div class="color1" *ngFor="let mesage of messages">
    <b>{{mesage.usuario}}:</b>{{mesage.text}}
  </div>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <form [formGroup]="form" (ngSubmit)="sendMessage()">
    <input id="name" type="text" formControlName="messageBody" />
    <ion-button [disabled]="!form.controls['messageBody'].valid" type="submit"
      >Envía el envío</ion-button
    >
  </form>
</ion-content>
