<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    color="danger"
    class="boto eixida"
    size="small"
    shape="round"
    (click)=" this.signOut();"
  >
    Haz click para clickear
  </ion-button>

  <div *ngFor="let mesage of messages">
    <b>{{mesage.user}}:</b>{{mesage.text}}
  </div>

  <form [formGroup]="form" (ngSubmit)="sendMessage()">
    <input id="name" type="text" formControlName="messageBody" />
    <ion-button [disabled]="!form.controls['messageBody'].valid" type="submit"
      >Send</ion-button
    >
  </form>
</ion-content>
