<ion-header>
  <ion-toolbar>
    <ion-title>chateau magnifique</ion-title>
    <ion-button
      color="danger"
      class="botoeixida"
      size="small"
      shape="round"
      (click)=" this.signOut();"
    >
      Haz click para clickear
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let mesage of messages">
    <b>{{mesage.usuario}}:</b>{{mesage.text}}
  </div>

  <form [formGroup]="form" (ngSubmit)="sendMessage()">
    <input id="name" type="text" formControlName="messageBody" />
    <ion-button [disabled]="!form.controls['messageBody'].valid" type="submit"
      >Envía el envío</ion-button
    >
  </form>
</ion-content>
