<ion-header>
  <div class="ion-text-center">
    <ion-toolbar>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2>Bienvenidos al chateau magnifique</h2>
    <img
      src="https://img.freepik.com/vector-premium/grupo-personas-hablando-si_23-2148456360.jpg"
      style="width: 500px; height: 400px"
    />
    <ion-button shape="round" expand="block" (click)=" this.signIn();">
      Inicia tu inicio
    </ion-button>
  </div>
</ion-content>
